<div *ngFor="let card of cards" class="card">
    <div class="card-header">
        <mat-form-field class="filename-input">
            <mat-label>Filename:</mat-label>
            <input matInput [(ngModel)]="card.newFileName">
        </mat-form-field>
        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item (click)="onResubClick(card)">Submit as resub</button>
            <button mat-menu-item disabled>Submit as reprocess</button>
            <button mat-menu-item disabled>Submit as process</button>
            <button mat-menu-item (click)="onDeleteClick(card)">Delete file</button>
        </mat-menu>
    </div>
    <div>
        <mat-label>Created Date:</mat-label>
        {{ card.createdDate | date: 'MM-dd-yyyy' }}
    </div>
    <div>
        <div table-component [options]="{ dataSource: card.content, displayedColumns: card.displayedColumns, objKeys: card.objKeys }"></div>
    </div>
</div>