
.card {
    background-color: #f7f7f7;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    position: relative;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.card-header .card-title {
    margin-bottom: 20px;
}

.card-header {
    display: block;
}

.mat-form-field {
    display: block;
}